{% extends "blog/base.html" %}
{% load static %}
{% block active %}
    <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="/about">About</a>
  </li>
    <li class="nav-item">
        <a class="nav-link" href="/blog">Blog</a>
    </li>
    
{% endblock active %}
{% block design %}
    
    <!-- START THE FEATURETTES -->
    <div class="container">
    <div class="row featurette mt-4">
      <div class="col-md-7">
        <h2 class="featurette-heading">The place where we began...<span class="text-muted">Just a small store!</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <img src="{% static 'imgs/store.jpg' %}" alt="about_pic" style="height:300px;width: 400px;">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Creativity is an Art And <span class="text-muted">We believe in this Here.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="{% static 'imgs/brushes.jpg' %}" alt="about_pic" style="height:300px;width: 400px;">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Connect to us...<span class="text-muted">On Every Platform!</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <img src="{% static 'imgs/twitter.jpg' %}" alt="about_pic" style="height:300px;width: 400px;">
      </div>
    </div>

  </div>

    <!-- /END THE FEATURETTES -->



<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row container">
    <div class="col-12 col-md">
      <img class="mb-2 ml-4" src="{% static 'imgs/logo.jpg' %}" alt="" width="24" height="24">
      <small class="d-block mb-3 text-muted">© 2017-2020</small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Cool stuff</a></li>
        <li><a class="text-muted" href="#">Random feature</a></li>
        <li><a class="text-muted" href="#">Team feature</a></li>
        <li><a class="text-muted" href="#">Stuff for developers</a></li>
        <li><a class="text-muted" href="#">Another one</a></li>
        <li><a class="text-muted" href="#">Last time</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Resource</a></li>
        <li><a class="text-muted" href="#">Resource name</a></li>
        <li><a class="text-muted" href="#">Another resource</a></li>
        <li><a class="text-muted" href="#">Final resource</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Team</a></li>
        <li><a class="text-muted" href="#">Locations</a></li>
        <li><a class="text-muted" href="#">Privacy</a></li>
        <li><a class="text-muted" href="#">Terms</a></li>
      </ul>
    </div>
  </div>
</footer>
{% endblock design%}